# to setup virtual environment 
# python3 -m venv .venv
# pip install -r requirements.txt
langchain
langchain-openai
python-dotenv
langchain[docarray]
--upgrade --quiet  "docarray"
datetime
streamlit
langchainhub